// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

// Variables
$primaryFont: "Inter", sans-serif;
$secondaryFont: "Lexend Deca", sans-serif;
$mainBackground: hsl(233, 47%, 7%);
$cardBackground: hsl(244, 38%, 16%);
$lightGray: #e6e6e6;
$accent: hsl(277, 64%, 61%);
$headWhite: hsl(0, 0%, 100%);
$textWhite: hsla(0, 0%, 100%, 0.75);
$statWhite: hsla(0, 0%, 100%, 0.6);

:root {
  // Font
  font-size: 15px;
  font-family: $primaryFont;
}

// Body layout
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $mainBackground;
  color: $headWhite;
  display: grid;
  place-items: center;
  min-height: 100vh;
  line-height: 1.6;
}

// Start with mobile-first design
.card {
  background: $cardBackground;
  display: flex;
  flex-direction: column;
  width: 55%;
  max-width: 900px;
  min-width: 300px;
  border-radius: 0.5em;
  overflow: hidden;
  text-align: center;
  margin: 1em auto;

  &__image {
    position: relative !important;

    // This pseudo element allows adding overlay color on the image
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, $accent);
      opacity: 0.5;
    }
  }
  .img-mobile {
    display: block;
    width: 100%;
  }

  .img-desktop {
    display: none;
  }

  &__text {
    padding: 2rem;
  }

  &__stats-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 200px;
    margin: 1em auto 0.1em auto;
  }

  &__headline {
    font-size: 2rem;
    padding-bottom: 0.5em;

    span {
      color: $accent;
    }
  }

  &__description {
    color: $textWhite;
    font-size: 0.8rem;
    padding: 0.5em;
  }

  h3 {
    font-size: 1.25rem;
  }

  li p {
    font-family: $secondaryFont;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $statWhite;
  }
}

// Responsiveness for desktop version
@media (min-width: 960px) {
  // Image right, text left
  .card {
    width: 100%;
    flex-direction: row-reverse;
    text-align: left;
    max-height: 365px;

    &__image {
      flex: 1 1 480px;
    }

    &__text {
      margin: 4em 5em 2em 4em;
      flex: 1 1 350px;
      padding: 0;
    }

    // Added to match the solution template
    &__headline {
      line-height: 1.2;
    }

    &__description {
      padding: 0;
      font-size: 0.85rem;
    }

    // Display stats in row
    &__stats-list {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3em;

      h3 {
        font-size: 1.35rem;
      }
    }
  }
  // Hide mobile image
  .img-mobile {
    display: none !important;
  }

  // Display desktop image
  .img-desktop {
    display: block !important;
    width: 100%;
    height: auto;
  }
}

.attribution {
  margin: 2em auto;
  a {
    text-decoration: none;
    color: $accent;

    &:hover,
    &:focus {
      background: rgb(75, 74, 74);
      opacity: 0.9;
    }

    &:visited {
      color: hsla(199, 63%, 54%, 0.6);
    }
  }
}
